/*
AbyssForge API

Importable OpenAPI document for the current AbyssForge HTTP boundary.  Current implemented routes: - GET /healthz - GET /livez - GET /readyz - POST /v1/signal-events - GET /v1/outcome-analysis - GET /v1/subjects/{subject_id}/latest-evaluation - GET /v1/subjects/{subject_id}/signal-events - GET /v1/subjects/{subject_id}/evaluations - GET /v1/subjects/{subject_id}/investigation - POST /v1/subjects/{subject_id}/review-outcomes - POST /v1/subjects/{subject_id}/recompute - POST /v1/subjects/{subject_id}/ruleset-comparisons 

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type SignalEventsAPI interface {

	/*
	ListSubjectSignalEvents List canonical signal events for a subject

	Returns the canonical signal events that were accepted for the subject.
This makes normalized values and deduplicated event identity inspectable.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param subjectId Canonical account identifier for the scored subject
	@return ApiListSubjectSignalEventsRequest
	*/
	ListSubjectSignalEvents(ctx context.Context, subjectId string) ApiListSubjectSignalEventsRequest

	// ListSubjectSignalEventsExecute executes the request
	//  @return SubjectSignalEventList
	ListSubjectSignalEventsExecute(r ApiListSubjectSignalEventsRequest) (*SubjectSignalEventList, *http.Response, error)

	/*
	PostSignalEvent Ingest a raw detector event

	Accepts one raw detector payload, validates and normalizes it into a canonical
`SignalEvent`, deduplicates it, persists it, evaluates the subject when the
event is newly accepted, persists the derived feature snapshot, score result,
and recommendation, and returns the explicit ingestion outcome.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostSignalEventRequest
	*/
	PostSignalEvent(ctx context.Context) ApiPostSignalEventRequest

	// PostSignalEventExecute executes the request
	//  @return IngestResult
	PostSignalEventExecute(r ApiPostSignalEventRequest) (*IngestResult, *http.Response, error)
}

// SignalEventsAPIService SignalEventsAPI service
type SignalEventsAPIService service

type ApiListSubjectSignalEventsRequest struct {
	ctx context.Context
	ApiService SignalEventsAPI
	subjectId string
}

func (r ApiListSubjectSignalEventsRequest) Execute() (*SubjectSignalEventList, *http.Response, error) {
	return r.ApiService.ListSubjectSignalEventsExecute(r)
}

/*
ListSubjectSignalEvents List canonical signal events for a subject

Returns the canonical signal events that were accepted for the subject.
This makes normalized values and deduplicated event identity inspectable.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param subjectId Canonical account identifier for the scored subject
 @return ApiListSubjectSignalEventsRequest
*/
func (a *SignalEventsAPIService) ListSubjectSignalEvents(ctx context.Context, subjectId string) ApiListSubjectSignalEventsRequest {
	return ApiListSubjectSignalEventsRequest{
		ApiService: a,
		ctx: ctx,
		subjectId: subjectId,
	}
}

// Execute executes the request
//  @return SubjectSignalEventList
func (a *SignalEventsAPIService) ListSubjectSignalEventsExecute(r ApiListSubjectSignalEventsRequest) (*SubjectSignalEventList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubjectSignalEventList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignalEventsAPIService.ListSubjectSignalEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/subjects/{subject_id}/signal-events"
	localVarPath = strings.Replace(localVarPath, "{"+"subject_id"+"}", url.PathEscape(parameterValueToString(r.subjectId, "subjectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.subjectId) < 1 {
		return localVarReturnValue, nil, reportError("subjectId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v IngestResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v IngestResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostSignalEventRequest struct {
	ctx context.Context
	ApiService SignalEventsAPI
	rawSignalEventPayload *RawSignalEventPayload
}

func (r ApiPostSignalEventRequest) RawSignalEventPayload(rawSignalEventPayload RawSignalEventPayload) ApiPostSignalEventRequest {
	r.rawSignalEventPayload = &rawSignalEventPayload
	return r
}

func (r ApiPostSignalEventRequest) Execute() (*IngestResult, *http.Response, error) {
	return r.ApiService.PostSignalEventExecute(r)
}

/*
PostSignalEvent Ingest a raw detector event

Accepts one raw detector payload, validates and normalizes it into a canonical
`SignalEvent`, deduplicates it, persists it, evaluates the subject when the
event is newly accepted, persists the derived feature snapshot, score result,
and recommendation, and returns the explicit ingestion outcome.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostSignalEventRequest
*/
func (a *SignalEventsAPIService) PostSignalEvent(ctx context.Context) ApiPostSignalEventRequest {
	return ApiPostSignalEventRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IngestResult
func (a *SignalEventsAPIService) PostSignalEventExecute(r ApiPostSignalEventRequest) (*IngestResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IngestResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignalEventsAPIService.PostSignalEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/signal-events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rawSignalEventPayload == nil {
		return localVarReturnValue, nil, reportError("rawSignalEventPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rawSignalEventPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v IngestResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v IngestResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
